{block content}
<section class="content-column grid-33 tablet-grid-33">
	<h2>Learn Amlantis</h2>
	<nav>
		<ul>
			<li><a href="{link Learn:about}">About Amlantis</a></li>
			<li><a href="{link Learn:tutorial}">Tutorial</a></li>
			<li><a href="{link Blog:index}">Engage at dev blog</a></li>
			<li><a href="{link Learn:reference}">Language reference</a></li>
			<li><a href="{link Learn:library}">Library documentation</a></li>
		</ul>
	</nav>
</section>
{/block}
